html {background-color: #080808;margin: 0;}
h1,h4,h3,h6,h2 {margin-block-end: 0;margin-block-start: 0;}
body {width: 100%; position: relative; margin: 0; font-family: devioussans02regular,Helvetica Neue,Helvetica,Arial,メイリオ\, meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;}
ol,ul, li {margin-block-start: 0; margin-block-end: 0; list-style-type: none; padding-inline-start:0;}
ul {width: 900px; margin: 10px auto 10px auto;}
li {width: 100%; display: inline-block; margin: 5px 0; text-align: center; padding: 5px 0;}
li span {width: 30px; text-align: center; font-size: 16px; display: inline-block; color: #f1f1f1;}
li p {width: 600px; text-align: center; font-size: 18px; display: inline-block; font-weight: bold; color: #f1f1f1; text-align: left;}
.loaderMinimino {border: 2px solid #f3f3f3;border-radius: 50%;border-top: 2px solid #ff00ff;width: 15px !important;height: 15px !important;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;display: inline-block; vertical-align: middle;}
@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg);}}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg);}}
@keyframes lds-ellipsis1 {0% {transform: scale(0);}100% {transform: scale(1);}}
@keyframes lds-ellipsis3 {0% {transform: scale(1);}100% {transform: scale(0);}}
@keyframes lds-ellipsis2 {0% {transform: translate(0, 0);}100% {transform: translate(24px, 0);}}
@-webkit-keyframes dash {to {stroke-dashoffset: 136;}}
@keyframes dash {to {stroke-dashoffset: 136;}}
@-webkit-keyframes rotate {100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate {100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
.DEPLOY-HEADER {width: 100%; display: inline-block; text-align: center;}
.DEPLOY-HEADER h1 {color: #f1f1f1; font-weight: bold; font-size: 60px; padding: 10px 0; display: inline-block; width: 100%;}
.DEPLOY-HEADER h2 {color: #f3f3f3;font-weight: normal; font-size: 15px; padding: 10px 0; display: inline-block; width: 100%;}
.DEPLOY-HEADER h1 span {color: #f1f1f1; font-weight: lighter;}
.DEPLOY-MENU {width: 300px; background-color: #000000; border-radius: 10px; display: inline-block; margin: 20px auto; padding:20px;}
.DEPLOY-HEADER h3 {color: #bfbfbf; font-size: 21px;}
.DEPLOY-HEADER h3 a {color: #bfbfbf; font-size: 16px;}
.DEPLOY-HEADER h6 {color: #f1f1f1; font-size: 12px; font-weight: normal; line-height: 1.6;}
.DEPLOY-ITEM {width: 100%; margin-top: 40px; color: #f1f1f1; text-align: left;}
.DEPLOY-ITEM input {width: 100px; font-size: 13px;}
.DEPLOY-ITEM input[type="file"] {font-size: 11px; width: 190px;}
.DEPLOY-ITEM input[type="number"] {width: 100px;}
.DEPLOY-ITEM input[type="text"] {width: 100px;}
.DEPLOY-ITEM textarea {width: 70px;}
.DEPLOY-ITEM input[type="radio"] {width: 12px;}
.DEPLOY-ITEM label {width: 120px; margin-right: 10px;margin-left: 20px; font-size: 20px; font-weight: bold; display: inline-block;}
.DEPLOY-ITEM label span {font-size: 14px;}
.DEPLOY-ITEM-end {text-align: center;}
.DEPLOY-ITEM .deploy-btn {font-size: 14px; background-color: #ff00ff; padding: 10px 15px; display: inline-block;}
aside {width: 300px; margin: 100px auto 20px auto; display: block; text-align: center;}
aside h4 {color: #f1f1f1; font-weight: normal; font-size: 15px; padding: 10px 0; display: inline-block; width: 100%;}
aside h4 a {font-weight: bolder;display: inline-block; color: #f1f1f1;}

@media only screen and (min-device-width: 500px) {
    .DEPLOY-HEADER h2 {margin-bottom: 150px;}
    .DEPLOY-MENU {margin-right: 20px;}
    aside {width: 400px;}
}